{% extends 'base.html' %}
{% block content %}
<div class="w3-main" style="margin-inline:100px">

  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">CUK</h1>
      <p>La mejor página de recetas en internet.</p>
    </div>
  </div>
  {% if usuario != None %}
  <div class="w3-container w3-card-4 w3-light-grey w3-text-teal w3-margin">
    <h2 class="w3-center">Bienvenido de nuevo, {{usuario}}</h2>
    <div class="w3-row w3-section">
      <div class="w3-rest">
        <input class="w3-input w3-border" id="titulo" type="text" placeholder="Titulo de la receta">
      </div>
    </div>
    <div class="w3-row w3-section">
      <div class="w3-rest">
        <textarea class="w3-input w3-border" id="contenido" type="text" placeholder="Contenido"></textarea>
      </div>
    </div>
    <div class="w3-row w3-section">
      <div class="w3-rest">
        <input class="w3-input w3-border" id="imagen" type="text" placeholder="URL de la imagen">
      </div>
    </div>
    <button class="w3-button w3-block w3-section w3-teal w3-ripple w3-padding" onclick="subirReceta()">¡Crear!</button>
    <input type="file" id="fileChooser" style="display: none;" />
    <button class="w3-button w3-block w3-section w3-teal w3-ripple w3-padding"
      onclick="cargarArchivo(fileChooser)">Cargar
      archivo</button>
    <a class="w3-button w3-block w3-section w3-teal w3-ripple w3-padding" href="/report">Descargar reporte</a>
  </div>
  {% endif %}
  <div class="w3-row">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Recetas recientes</h1>
      <p>¡Echa un vistazo a lo último publicado por nuestros usuarios!</p>
    </div>
  </div>

  {% for receta in recetas %}
  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container"></div>
    <h1 class="w3-text-teal"><a href="receta/{{loop.index}}">{{receta.titulo}}</a></h1>
    <p>
      {{receta.contenido}}
    </p>
    <div class="w3-third w3-container">
      <img src="{{receta.imagen}}" alt="{{receta.imagen}}">
    </div>
  </div>
  {% endfor %}
</div>
<script>

  function subirReceta()
  {

    let titulo = document.getElementById('titulo').value;
    let contenido = document.getElementById('contenido').value;
    let imagen = document.getElementById('imagen').value;

    if (titulo === "" && contenido === "" && imagen === "")
    {
      alert("Error: Todos los campos son requeridos.");
    }
    else
    {

      let datos = {
        titulo: titulo,
        contenido: contenido,
        imagen: imagen
      }

      let opciones = {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(datos)
      }

      fetch('/postReceta', opciones).then((res) =>
      {
        res.json().then((data) =>
        {
          location.reload();
        });
      });
    }
  }

  var fileChooser = document.getElementById('fileChooser');
  if (fileChooser)
    fileChooser.addEventListener("change", subirArchivo)

  function subirArchivo()
  {
    let reader = new FileReader();

    reader.onload = function ()
    {
      let datos = {
        data: reader.result.replace('data:', '')
          .replace(/^.+,/, '')
      }
      fetch('/cargarArchivo', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(datos)
      }).then(res =>
      {
        location.reload();
      });
    }

    reader.onerror = function (error)
    {
      console.log('Error: ', error);
    };

    reader.readAsDataURL(fileChooser.files[0]);
  }

  function cargarArchivo(input)
  {
    input.click();
  }

</script>
{% endblock %}