{% extends 'base.html' %}
{% block content %}
<div class="w3-main" style="margin-inline:100px">
    <div class="w3-row w3-padding-64">
        <div class="w3-twothird w3-container">
            <h1 class="w3-text-teal">CUK</h1>
            <p>La mejor página de recetas en internet.</p>
        </div>
    </div>
    {% if receta != None %}
    <div class="w3-row w3-padding-32">
        <h1 class="w3-text-teal">{{receta.titulo}}</h1>
        <p>
            {{receta.contenido}}
        </p>
        <div class="w3-third w3-container">
            <img src="{{receta.imagen}}" alt="{{receta.imagen}}">
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}