<!DOCTYPE html>
<html>

<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<body>
    <h2>Reporte de recetas</h2>

    <table>
        <tr>
            <th>Titulo</th>
            <th>Contenido</th>
            <th>Imagen</th>
        </tr>
        {% for receta in recetas %}
        <tr>
            <td>{{receta.titulo}}</td>
            <td>{{receta.contenido}}</td>
            <td>{{receta.imagen}}</td>
        </tr>
        {% endfor %}
    </table>

</body>

</html>