<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>CUK - Recetas de cocina</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='w3.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='w3-theme-black.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome.css') }}">
    <style>
        html,
        body,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: "Roboto", sans-serif;
        }

        .w3-sidebar {
            z-index: 3;
            width: 250px;
            top: 43px;
            bottom: 0;
            height: inherit;
        }
    </style>
</head>

<body>
    <div class="w3-top">
        <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
            <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1"
                href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
            <a href="/inicio" class="w3-bar-item w3-button w3-theme-l1">CUK</a>
            {% if usuario == None %}
            <a href="/login" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Login</a>
            {% endif %}
            {% if usuario != None %}
            <a href="/logout" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Cerrar sesión</a>
            {% endif %}
        </div>
    </div>
    {% block content %}{% endblock %}
    <footer id="myFooter">
        <div class="w3-container w3-theme-l2 w3-padding-32">
            <h4>CUCK 2020 - Todos los derechos reservados</h4>
        </div>
        <div class="w3-container w3-theme-l1">
            <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
        </div>
    </footer>
</body>

</html>