{% extends 'base.html' %}
{% block content %}
<div class="w3-main" style="margin-inline:100px">
    <div class="w3-row w3-padding-64">
        <div class="w3-twothird w3-container">
            <h1 class="w3-text-teal">CUK</h1>
            <p>La mejor página de recetas en internet.</p>
        </div>
    </div>
    <div class="w3-container w3-padding-64">
        <div class="w3-card-4 w3-two-third">
            <div class="w3-container w3-teal">
                <h2>Inicio de sesión</h2>
            </div>
            <form class="w3-container" method="POST">
                <p>
                    <input class="w3-input" name="usuario" type="text">
                    <label>Usuario</label>
                </p>
                <p>
                    <input class="w3-input" name="contrasena" type="password">
                    <label>Contraseña</label>
                </p>
                <p>
                    <input class="w3-button w3-blue" type="submit" value="Iniciar">
                </p>
            </form>
            {% if error != None %}
            <div class="w3-panel w3-red">
                <h3>¡Error!</h3>
                <p>Contraseña inválida.</p>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}